# Base de datos (Connection pooling)
DATABASE_URL="postgresql://user:password@host:port/database"

# Direct connection to the database. Used for migrations
DIRECT_URL="postgresql://user:password@host:port/database"

# Supabase Storage
SUPABASE_URL="https://your-project.supabase.co"
SUPABASE_KEY="your-anon-key"

# JWT
JWT_SECRET="tu_clave_super_secreta"
JWT_EXPIRES_IN="8h"

# Email
GMAIL_USER="tucorreo@gmail.com"
GMAIL_PASS="tu_app_password"

# Servidor
PORT=3000
NODE_ENV="development"
